*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body{
	background: linear-gradient(to bottom, $black, rgba(0, 0, 0, 0) 50%, $black) center center no-repeat/cover,url("/assets/img/bg.jpg") repeat;
}
// svg 

.svg{
	&-container{
		display: none;
	}
}



// section


.cat-section {
	padding: 100px 0; 
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title{
		font-family: TrebuchetMS;
		font-size: 36px;
		font-weight: 100;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: $white;
		text-shadow: 0 1px 1px $black;
		margin-bottom: 24px;
	}
	&__line{
		@include flex-grid-row;
		justify-content: center;
		align-items: center;
	}
	&__column{
		@include flex-grid-column(100%);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 60px;
	}
	@include breakpoint(medium){
		&__column{
			@include flex-grid-column(50%);	
		}
	}
	@include breakpoint(large){
		&__column{
			@include flex-grid-column(4/12);
			margin-bottom: 0px;	
		}
	}
}
.cat-box{
	position: relative;
	&__bg{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 21px;
		padding-left: 48px;
		padding-right: 16px;
		padding-bottom: 16px;
		clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
		width: 328px;
		height: 488px;
		background: $white;
		box-shadow: inset 0 0 0px 4px $blue;
		overflow: hidden;
		cursor: pointer;
		&:before{
			content: '';
			position: absolute;
			top: -28px;
			left: -58px;
			transform: rotate(34deg);
			width: 80px;
			height: 80px;
			background-color: $blue;
		}
	}
	&__overlay{
		position: absolute;
		left: 4px;
		bottom: 4px;
		padding-top: 21px;
		padding-left: 48px;
		padding-right: 16px;
		padding-bottom: 16px;
		clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
		width: 328px;
		height: 488px;
		background:url(/assets/img/cat.png) 90% 170% no-repeat;
		z-index: 1;
	}
	&__pretitle{
		font-family: TrebuchetMS;
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #666666;
		margin: 0;
		margin-bottom: 5px;
		span{

		}
		&:before{
			display: none;
			content: attr(data-none);
			font-size: 16px;
			font-family: "Trebuchet MS";
			color: rgb(230, 46, 122);
			line-height: 1.2;
			text-align: left;
		}
	}
	&__title{
		font-family: TrebuchetMS;
		font-size: 48px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: $black;
		margin: 0;
	}
	&__taste{
		font-family: TrebuchetMS;
		font-size: 24px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: $black;
		margin: 0;
		margin-bottom: 15px;
	}
	&__desc{
		font-family: TrebuchetMS;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.14;
		letter-spacing: normal;
		text-align: left;
		color: #666666;
		margin-bottom: auto!important;
		span{
			font-weight: bold;
		}
	}
	&__weight{
		width: 80px;
		height: 80px;
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-self: flex-end;
		font-family: TrebuchetMS;
		font-size: 35px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.05;
		letter-spacing: normal;
		text-align: center;
		color: $white!important;
		background-color: $blue;
		span{
			font-size: 21px;
		}
	}
	&__text{
		position: absolute;
		display: inline-block;
		width: 100%;
		left: 50%;
		bottom: -40px;
		transform: translateX(-50%);
		font-family: TrebuchetMS;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		span{
			display: none;
			&.first{
				display: inline-block;
			}
			&.third{
				color: #ffff66;
			}
		}
		a{
			font-weight: bold;
			color: $blue;
			border-bottom: 1px dashed $blue;
			curdor: pointer;
			&:hover{
				border-bottom: none;
			}

		}
	}
}
.firstHover{
	.cat-box__weight{
		background-color: rgb(46, 168, 230);
	}
}
.selectedHover{
	.cat-box__pretitle{
		span{
			display: none;
		}
		&:before{
			display: inline-block;
		}
	}
}
input[type="checkbox"] {
	&:checked ~ .cat-box__bg {
		box-shadow: inset 0 0 0px 4px $pink;
		&:before{
			background-color: $pink;
		}
		& .cat-box__weight{
			background-color: $pink;
			&:hover{
				background-color: rgb(230, 46, 122);
			}
		}
	}
	&:checked ~ .cat-box__text{
		span{
			display: none;
			&.second{
				display: inline-block;
			}
		}
	}
	&:disabled ~ .cat-box__bg {
		box-shadow: inset 0 0 0px 4px $gray;
		&:before{
			background-color: $gray;
		}
		& .cat-box__weight{
			background-color: $gray;
		}
		& .cat-box__overlay{
			opacity: .5;
		}
		& p, & h2, & div{
			color: $gray;
		}
	}
	&:disabled ~ .cat-box__text{
		span{
			display: none;
			&.third{
				display: inline-block;
			}
		}
	}
}

