@font-face {
	font-family: "Exo2.0";
	src: url("../fonts/Exo2.0.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "TrebuchetMS";
	src: url("../fonts/TrebuchetMSBold.ttf");
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "TrebuchetMS";
	src: url("../fonts/TrebuchetMS.ttf");
	font-style: normal;
	font-weight: normal;
}

