<section class="cat-section">
	<div class="cat-section__line">
		<h1 class="cat-section__title">
			Ты сегодня покормил кота?
		</h1>
	</div>
	<div class="cat-section__line">
		<div class="cat-section__column">
			<label class="cat-box " >
				<input type="checkbox" style="display: none;">
				<div class="cat-box__bg ">
					<p class="cat-box__pretitle" data-none="Котэ не одобряет?"><span>Сказочное заморское яство</span></p>
					<h2 class="cat-box__title">Нямушка</h2>
					<p class="cat-box__taste">с фуа-гра</p>
					<p class="cat-box__desc"><span>10</span> порций <br>мышь в подарок</p>
					<div class="cat-box__weight ">0,5<span>кг</span></div>
					<div class="cat-box__overlay"></div>
				</div>
				<div class="cat-box__text">
					<span class="first">Чего сидишь? Порадуй котэ, <a href="javascript:void(0)">купи.</a></span>
					<span class="second">Печень утки разварная с артишоками.</span>
					<span class="third">Печалька, с фуа-гра закончился.</span>
				</div>
			</label>
		</div>
		<div class="cat-section__column">
			<label class="cat-box ">
				<input type="checkbox" style="display: none;">
				<div class="cat-box__bg ">
					<p class="cat-box__pretitle" data-none="Котэ не одобряет?"><span>Сказочное заморское яство</span></p>
					<h2 class="cat-box__title">Нямушка</h2>
					<p class="cat-box__taste">с рыбой</p>
					<p class="cat-box__desc"><span>40</span> порций <br><span>2</span> мыши в подарок</p>
					<div class="cat-box__weight">2<span>кг</span></div>
					<div class="cat-box__overlay"></div>
				</div>
				<div class="cat-box__text">
					<span class="first">Чего сидишь? Порадуй котэ, <a href="javascript:void(0)">купи.</a></span>
					<span class="second">Головы щучьи с чесноком да свежайшая сёмгушка.</span>
					<span class="third">Печалька, с рыбой закончился.</span>
				</div>
			</label>
		</div>
		<div class="cat-section__column">
			<label class="cat-box">
				<input type="checkbox" style="display: none;" disabled>
				<div class="cat-box__bg">
					<p class="cat-box__pretitle" data-none="Котэ не одобряет?"><span>Сказочное заморское яство</span></p>
					<h2 class="cat-box__title">Нямушка</h2>
					<p class="cat-box__taste">с курой</p>
					<p class="cat-box__desc"><span>100</span> порций<br><span>5</span> мышей в подарок<br>заказчик доволен</p>
					<div class="cat-box__weight ">5<span>кг</span></div>
					<div class="cat-box__overlay"></div>
				</div>
				<div class="cat-box__text">
					<span class="first">Чего сидишь? Порадуй котэ, <a href="javascript:void(0)">купи.</a></span>
					<span class="second">Филе из цыплят с трюфелями в бульоне.</span>
					<span class="third">Печалька, с курой закончился.</span>
				</div>
			</label>
		</div>
	</div>
</section>