<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700,800,900&amp;subset=latin,cyrillic" rel="stylesheet">
  <!-- build:css --><!-- endbuild -->
</head>
<body class="index-page">
  {{> svg }}
  {{> body }}

  <!-- build:js --><!-- endbuild -->

</body>
</html>